name: Security Scan CI/CD

on:
  push:
    branches:
      - main

jobs:
  security-scan:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Snyk Code Analysis
        uses: snyk/actions/node@master
        with:
          command: test
